@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
.main{
  width: 100%;

  background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(pexels-chunry-4676510.jpg);
  background-position:center;
  background-size: cover;
  height: 100vh;
}
.nav-bar{
  width: 100%;
  height: 75px;
  margin: auto;
}
.icon{
  float: left;
}

.logo{
  padding-left: 6VH;
color: orange;
font-size: 4rem;
float: left;
margin-top: 10%;
font-weight: bold;

}

.main a{
  text-decoration: none;
}
.menu{
  width: 400px;;
  float: left;
  height: 70px;
}
ul{
  align-items: center;
  justify-content: center;
  display: flex;
  float: left;
  margin-top: 4%;
  margin-left: 150%;
}
ul li{
  margin-left: 50px;
  margin-top: 40px;
  list-style: none;
}
ul li a{
  font-size: 2rem;
  color: white;
  font-weight: bold;
  transition: 0.4s ease;
}
ul li a:hover{
  color:orange;
  
}
.content{
  margin-top: 12%;
  margin-left: 4%;
  color: white;
  padding-left: 5%;
}

.content h1{
  padding-left: 0;
  font-size: 4rem;
  text-align: left;
  align-items: center;
  display: inline;

}
.content span{
  color: orange;
}
.content p{
  padding: 1%;

  font-size: 2rem;

}
.content .btn{
  margin: 0; 
   margin-left: 1%;
  padding: 1%;
  border-radius: 6px;

  background-color:orange;

}

.content .btn a{
  text-decoration: none;
  font-weight: bold;
  color: black;

}
.content .btn:hover{
    background-color: white;
}
.form{
  height: 400px;
  width: 300px;
  background: linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
  position: absolute;
  top: 18%;
 left:  1150px;
 border-radius: 10px;
 padding: 25px;
}
.form h1{
  color:orange;
  text-align: center;
  padding: 2%;
}
.form input{
  color: white;
  margin-top: 5%;
  width: 240px;
  height: 35px;
  letter-spacing: 1px;
  background: transparent;
  border-bottom: 1px orange solid;
  border-top: none;
  border-left: none;
  border-right: none;
}
.form input:focus{
   outline: none;
}
.form input::placeholder{
  color: white; 
}
.cta{
  border: 2px solid black;
  margin-top: 20px;
  width: 240px;
  height: 40px;
  border-radius: 8px;
  background-color: orange;
  cursor: pointer;
}

.cta a{
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.form p{
  color: white;
  text-align: center;
  padding-top: 5px;
  font-size: 15px;
}
.btn1  a{
  padding-top: 5%;
  text-decoration: underline 3px;
  font-size: 15px;
  color: orange;
  
  padding-left: 38%;

}
.form.liw p{
  padding:15px;
}
.btn1 a:hover{
  color: white;
}
  .icon a{
    text-decoration: none ;
    color:orange;
  } 
  .icon ion-icon{
       
       font-size: 30px;
       padding-left: 38px;
       padding-top: 5px;
  }
  


 



    




    
